@page "/fetchdata"
@using EWS.Domain.Example
@using eXtensionSharp
@using EWS.BlazorWasm.Base
@using EWS.BlazorWasm.Features.FetchData

@inject ILogger<FetchData> Logger
@inherits EWS.BlazorWasm.Base.JComponent<FetchData, EWS.BlazorWasm.Base.JDlgOptions<bool>, bool>

<JComponentLayout>
    <PageTitle>Weather forecast</PageTitle>

    <h1>Weather forecast</h1>
     
    <p>This component demonstrates fetching data from a service.</p>

    <UcFetchData/>

    <Button OnClick="Click">Popup</Button>
</JComponentLayout>

@code {

    private async Task Click()
    {
        await this.ShowDialog<UcFetchData, JDlgOptions<bool>, IEnumerable<WeatherForecastResult>>(new JDlgOptions<bool>(), Callback);
    }

    private void Callback(IEnumerable<WeatherForecastResult> result)
    {
        Logger.LogInformation("test");
        Logger.LogInformation("UcFetchData result : {Result}", result.xToJson());
    }

}